<!DOCTYPE html>
<html>
<head>
<title>Addressbook</title>
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/js.js"></script>
</head>

<body>

  <h1>Addressbook</h1>
  <ul id="addressbook">
    <template id="personTemp">
      <li>
        <h2>{{name}}</h2>
        <h3>Phones</h3>
        <ul>
          {{phones}}
        </ul>
        <h3>Email</h3>
        <ul>
          {{emails}}
        </ul>
        <h3>Address</h3>
        <ul>
          {{addresses}}
        </ul>
        <h3>Notes</h3>
        <ul>
          {{notes}}
        </ul>
      </li>
    </template>
    <template id="numberTemp">
      <li>
        <h3>{{number}}</h3>
      </li>
    </template>
    <template id="emailTemp">
      <li>
        <h3>{{email}}</h3>
      </li>
    </template>
    <template id="addressTemp">
      <li>
        <h3>{{address}}</h3>
      </li>
    </template>
    <template id="noteTemp">
      <li>
        <h3>{{note}}</h3>
      </li>
    </template>
  </ul>

</body>
</html>